.card-grid {
  .card {
    background-color: inherit;
  }

  .angle-wrapper {
    height: 200px;
    width: 100%;
    z-index: -1;

    .bgCol-left {
      height: fit-content;

      &::after {
        background-color: #f0f0f0;
        content: "";
        height: 120px;
        width: 51%;
        position: absolute;
        top: -30%;
        left: 0;
        transform: skewY(-5deg);
      }
    }

    .bgCol-right {
      height: fit-content;

      &::after {
        background-color: #f0f0f0;
        content: "";
        height: 120px;
        width: 51%;
        position: absolute;
        top: -30%;
        right: 0;
        transform: skewY(5deg);
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}
