/** Search form */
.search-form {
  @extend .form-inline !optional;
}

.search-form label {
  @extend .form-group !optional;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control !optional;
}

.search-form .search-submit {
  @extend .btn !optional;
  @extend .btn-secondary !optional;
}

.formContainer {
  height: fit-content;

  .formBg {
    height: 100%;
    width: 100%;
    z-index: -2;

    .bgCol-left {
      height: fit-content;
      background-color: inherit;

      &::after {
        background-color: inherit;
        content: "";
        height: 200px;
        width: 50%;
        position: absolute;
        bottom: -7%;
        transform: skewY(-5deg);
      }
    }

    .bgCol-right {
      height: fit-content;
      background-color: inherit;

      &::after {
        background-color: inherit;
        content: "";
        height: 200px;
        width: 50%;
        position: absolute;
        bottom: -7%;
        transform: skewY(5deg);
      }
    }
  }

  .formBlock {
    overflow-x: hidden;
    width: 100%;
    padding: 3rem 15% 1rem 15%;
    height: 100%;
    z-index: 5;

    .angle-none {
      padding-top: 0;
    }

    .angle-top {
      padding-top: 3rem;
    }

    .formHeader {
      h2 {
        color: white;
        font-size: 2.3em;
      }

      p {
        font-size: 1.2em;
      }
    }

    input,
    select {
      max-width: 100% !important;
    }

    .firstName input,
    .lastName input,
    .email input,
    .phoneNum input,
    .city select,
    .service select,
    .message textarea,
    button {
      border-radius: 10px !important;
    }

    .firstName,
    .lastName,
    .email {
      width: 100% !important;
    }

    .phoneNum,
    .city,
    .service {
      width: 48%;
    }

    .col-left {
      float: left;
    }

    .col-right {
      float: right;
    }

    .message {
      width: 48%;
      margin-top: -250px;
    }

    .message textarea {
      height: 200px !important;
    }

    .wpforms-submit-container,
    .wpforms-recaptcha-container {
      width: fit-content !important;
      float: right !important;
    }

    button {
      background-color: #2f372b !important;
      color: #ccae88 !important;
      padding: 0.5rem 2rem !important;
      border: none !important;
      text-transform: uppercase !important;
      font-weight: 800;
      letter-spacing: 1px !important;

      &:hover {
        background-color: white !important;
        color: #2f372b !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .formBlock {
    .phoneNum,
    .city,
    .service {
      width: 100% !important;
    }

    .message {
      width: 100% !important;
      margin-top: 0 !important;
    }

    .col-left {
      float: none !important;
    }

    .col-right {
      float: none !important;
    }
  }
}
