.hero {
    .card-image-wrapper {
        display: grid !important;
        position: relative !important;
        place-items: center;
    }

    .hero-title {
        text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    }

    .card-column {
        display: grid !important;
        place-items: center !important;
    }

    .card-grid {
        display: flex;
        justify-content: center;
    }

    .card-item {
        display: grid;
        place-items: center;
        padding: 0 10px;
        max-width: 321px;
    }

    .hero-card {
        border-radius: 10px;
        max-width: 321px !important;

        .card-image {
            border-radius: 5px;
            width: 100%;
        }

        .card-icon {
            max-width: 100%;
            width: 200px !important;
        }
    }
}
