.hero {
    padding: 125px 0;

    @media (max-width: 776px) {
        padding: 50px 0;
    }

    .hero-title {
        text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    }

    .card-column {
        display: grid !important;
        place-items: center !important;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 330px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;
        }

        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        max-width: 100%;
        position: relative;
    }

    .card-item {
        display: grid;
        place-items: center;
        max-width: 300px;
        position: relative;

        &:first-of-type {
            margin-left: auto;
        }

        &:last-of-type {
            margin-right: auto;

            .card-body {
                padding: 0.5rem 1.25rem;
            }
        }
    }

    .hero-card {
        border-radius: 10px;
        max-width: 100% !important;
        text-decoration: none !important;
        filter: drop-shadow(0 3px 40px rgba(0, 0, 0, 0.42));
        position: relative;

        .card-image-wrapper {
            display: grid !important;
            position: relative !important;
            place-items: center;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.57);
                z-index: 1;
            }
        }

        &:hover {
            background-color: $light !important;
            transition: 0.3s;

            .card-image-wrapper {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0) !important;
                    z-index: 1;
                }
            }

            .card-body {
                p {
                    transition: 0.3s;
                    color: $primary !important;
                    text-decoration: none !important;
                }
            }
        }

        .card-image {
            border-radius: 5px;
            width: 100%;
        }

        .card-icon {
            max-width: 100%;
            width: 75%;
            z-index: 2;
        }
    }

    // Mobile Styles:
    @media (max-width: 400px) {
        .card-item {
            &:first-of-type {
                .card-body {
                    p {
                        // font-size: 1rem !important;
                        white-space: nowrap !important;
                    }
                }
            }

            &:last-of-type {
                .card-body {
                    p {
                        font-size: 0.9rem !important;
                    }
                }
            }
        }
    }

    @media (max-width: 776px) {
        .card-item {
            .card-body {
                p {
                    font-size: 1rem;
                }
            }

            &:last-of-type {
                .card-body {
                    padding: 0.75rem 1.25rem;
                }
            }
        }
    }

    //   @include media-breakpoint-up(md) {
    //     html {
    //       font-size: 1.4rem;
    //     }
    //   }

    //   @include media-breakpoint-up(lg) {
    //     html {
    //       font-size: 1.6rem;
    //     }
    //   }
}
