.locations {
    margin-bottom: -1%;

    .locationBg {
        height: 85%;
        width: 100%;
        z-index: -1;

        .bgCol-left {
          height: 100%;
          background-color: rgba(47, 55, 43, 0.6);

          &::after {
            background-color: #2f372b;
            content: "";
            height: 35%;
            width: 50%;
            position: absolute;
            bottom: -10%;
            left: 0;
            transform: skewY(-5deg);
          }
        }

        .bgCol-right {
          height: 100%;
          background-color: rgba(47, 55, 43, 0.6);

          &::after {
            background-color: #2f372b;
            content: "";
            height: 35%;
            width: 50%;
            position: absolute;
            bottom: -10%;
            right: 0;
            transform: skewY(5deg);
          }
        }
      }

  .locationsBlock {
    position: relative;
    bottom: 15px;
    z-index: 2;
    padding-top: 1%;

    .txMap {
      width: 400px;
      opacity: 85%;
    }

    h3 {
        margin-bottom: 2rem !important;
        font-size: 1.5em;
    }

    p {
        margin-bottom: 0.3rem !important;
        font-size: 18px;
    }

    .addressLink {
        text-decoration: none;
        color: white !important;

        &:hover {
            color: #ccae88 !important;
        }
    }

    .phoneLink {
        text-decoration: none;
        color: #ccae88 !important;

        &:hover {
            color: white !important;
        }
    }
  }
}

@media screen and (max-width: 1024px) {
  .txMap {
    display: none !important;
  }

  .locationBg {
    height: 90% !important;
  }
}
