.reviews {
  position: relative;
  z-index: 1;

  .quotes {
    z-index: 5;
  }

  .angle-wrapper {
    height: 200px;
    width: 100%;
    z-index: -1;

    .bgCol-left {
      height: fit-content;

      &::after {
        background-color: #2f372b;
        content: "";
        height: 120px;
        width: 51%;
        position: absolute;
        top: -30%;
        left: 0;
        transform: skewY(-5deg);
      }
    }

    .bgCol-right {
      height: fit-content;

      &::after {
        background-color: #2f372b;
        content: "";
        height: 120px;
        width: 51%;
        position: absolute;
        top: -30%;
        right: 0;
        transform: skewY(5deg);
      }
    }
  }
}
