.reviews {
  .quotes {
      z-index: 5;
  }

  .angle-wrapper {
      height: 200px;
      width: 100%;
      z-index: -1;

      .bgCol-left {
          &::after {
            background-color: #2f372b;
            content: "";
            height: 120px;
            width: 50%;
            position: absolute;
            top: -20%;
            left: 0;
            transform: skewY(-5deg);
          }
        }

        .bgCol-right {
          &::after {
            background-color: #2f372b;
            content: "";
            height: 120px;
            width: 50%;
            position: absolute;
            top: -20%;
            right: 0;
            transform: skewY(5deg);
          }
        }
  }
}
