@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/media";
@import "components/buttons";
@import "components/hero";
@import "components/page-header";
@import "components/locations";
@import "components/logo-grid";
@import "components/header";
@import "components/footer";
@import "components/reviews";
@import "components/card-grid";
@import "components/faq";
@import "components/map";
@import "components/text";
@import "components/photo-gallery";
@import "components/lightbox";
@import "common/fonts";

/* ADMIN */
.wp-admin {
    .acf-block-body a {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
        display: block;
    }
}
