@media only screen and (min-width: 769px) {
  .menu-item-has-children > .dropdown-menu {
    &:hover {
      display: block !important;
    }

    top: 100% !important;
    left: 0 !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-submenu {
    position: relative !important;
  }

  .dropdown-submenu > a::after {
    display: block;
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    margin-top: -18px;
    right: 15px;
    position: absolute;
    font-weight: 300;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  color: #ccae88;
}

.current_page_item a.nav-link {
  color: #fff !important;
}

header {
  .btn {
    display: block;
    max-width: 142.75px !important;
    margin: 0 auto;
  }
}
