/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: (primary: #2f372b,
  secondary: #ccae88,
  success: #5cb85c,
  info: #5bc0de,
  warning: #f0ad4e,
  danger: #d9534f,
  light: #f0f0f0,
  "link-color": #ccae88,
);

// Colors
$primary: #2f372b;
$secondary: #ccae88;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$bs-font-sans-serif: "caecilia",
sans-serif;
$bs-font-mono: "Avenir LT Std";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bs-font-sans-serif;
}

.serif-font {
  font-family: $bs-font-sans-serif;
}

p,
span,
a {
  font-family: $bs-font-mono;
}
